#wrapper {
  padding-left: 200px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -200px;
  left: 200px;
  width: 200px;
  background: transparent;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  text-indent: 10px;
  margin-top:10px;
}

.sidebar-nav li a {
  color: #000;
  text-decoration: none;
  height:20px;

}
.sidebar-nav-post {
  display: inline-block;
  width:170px;
  height:5px;
  color:#000;
  margin-left:15px;}

.sidebar-nav-this li {
  text-decoration: none;
  vertical-align: center;
  display:inline;

}
.sidebar-nav-this {
  display: inline-block;
  width:170px;
  color:#000;
  vertical-align: center;
  margin-left:15px;

}
.sidebar-nav-this:hover {
  color: #c2c2c2;
; 


}
.sidebar-nav li a:hover {
 color: #c2c2c2;


  
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
   color: #ffffff;
   background:#000000;
   line-height:45px;

}

.sidebar-nav > .sidebar-brand {
  line-height: 30px;
  font-size: 14px;
}

.sidebar-nav > .sidebar-brand a {
  color: #000000;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #000000;
  background: none;
}

.content-header {
  height: 65px;
  line-height: 65px;
  

}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: auto;
  display: inline-block;
  font-weight: 100;

}

.content-header h1:hover {
  color:#ff00c3;
  
}
#menu-toggle {
  display: none;
}

.inset {
  padding: 20px;
}

@media (max-width:767px) {

#wrapper {
  padding-left: 0;
}

#sidebar-wrapper {
  left: 0;
}

#wrapper.active {
  position: relative;
  left: 200px;
}

#wrapper.active #sidebar-wrapper {
  left: 200px;
  width: 200px;
  transition: all 0.4s ease 0s;
}

#menu-toggle {
  display: inline-block;
}

.inset {
  padding: 15px;
}

.sidebar-menu{
  font-size:0%;
   font-weight:100;

 
}

}