<!DOCTYPE html>
<html>
{% include header.html %}
    <body>
      <div id="wrapper">

<!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                  <li class="sidebar-brand"><a href="index.html">m</a></li>
            {% for page in site.pages %}
                <li class="sidebar-nav-this">
                <a href="{{ page.url }}"><h4 class="small">{{ page.title }}</h4></a>
                </li>
             {% endfor %}
                <li class="sidebar-brand"><a href="index.html"></a></li>
                                   
            {% for post in site.posts %}
            {% if post.categories contains "public work" %}
                  <li><a href="{{post.url}}">{{post.title}}</a> 
                  {% endif %} 
            {% endfor %}

                <li><a href="index1.html">show all</a>
                </li>

            </ul>
        </div>
        <!-- Page content -->
        <div id="page-content-wrapper">
            <div class="content-header">
            <h1><a id="menu-toggle" href="#" class="btn btn-default">
                <i class="icon-reorder"></i></a>{{ page.title }}</h1>
            </div>
       <!-- Keep all page content within the page-content inset div! -->
            <div class="page-content inset">
                   {{content}}
        </div>
        </div>
    </div>

    </body>
</html>
