        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
        <li class="sidebar-brand"><a href="index.html">m</a>
                </li>
                <li class="sidebar-nav-this"><a href="installation.html" ><h4 class="small">Installation</h4></a>
                </li>
                <li class="sidebar-nav-this"><a href="page-and-screen.html"><h4 class="small">Page and Screen</h4></a>
                </li>
                <li class="sidebar-nav-this"><a href="public-work.html"><h4 class="small">Public Work</h4></a>
                </li>
            </ul>
        </div>