        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                  <li class="sidebar-brand"><a href="index.html">m</a></li>
            {% for page in site.pages %}
            {% if page.section == "installation" %}
                <li class="sidebar-nav-this">
                <a href="{{ page.url }}"><h4 class="small">{{ page.title }}</h4></a>
                </li>
                  {% endif %}
            {% if page.section == "page and screen" %}
             <li class="sidebar-nav-this">
                <a href="{{ page.url }}"><h4 class="small">{{ page.title }}</h4></a>
                </li>
                {% endif %}
                 {% if page.section == "contact" %}
             <li class="sidebar-nav-this">
                <a href="{{ page.url }}"><h4 class="small">{{ page.title }}</h4></a>
                </li>
                {% endif %}
            {% endfor %}
                <li class="sidebar-brand"><a href="index.html"></a></li>
            {% for post in site.posts %}
            {% if post.categories contains {{page.section}} %}
                  <li><a href="{{post.url}}">{{post.title}}</a>  
                  {% endif %}              
            {% endfor %}
                <li><a href="http://manzalena.github.io">show all</a>
                </li>

            </ul>
        </div>

