        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
            {% for page in site.pages %}
              {% if page.section == "contact" %}
                <li class="sidebar-nav-this">
                  <a href="{{ page.url }}"><h6>{{ page.title }}</h6></a>
                </li>
                {% endif %}
            {% endfor %}
                <li class="sidebar-brand"></li>
                {% for page in site.pages %}
            {% if page.section == "installation" %}
                <li class="sidebar-nav-this active">
                <a href="{{ page.url }}"><h6 style="letter-spacing:.05em;">{{ page.title }}</h6></a>
                </li>
                  {% endif %}
            {% if page.section == "pagescreen" %}
             <li class="sidebar-nav-this">
                <a href="{{ page.url }}"><h6 style="letter-spacing:.05em;">{{ page.title }}</h6></a>
                </li>
                {% endif %}
                {% if page.section == "neologisms" %}
             <li class="sidebar-nav-this">
                <a href="{{page.url}}"><h6 style="letter-spacing:.05em;">{{ page.title }}</h6></a>
                </li>
                {% endif %}
            {% endfor %}
            <div style="height:45px";></div>
            
            {% for post in site.posts %}
            {% if post.categories contains {{page.section}} %}
                  <li class="sidebar-nav-post" ><a href="{{post.url}}"><h6>{{post.title}}</h6></a>  
                {% endif %} 
            {% endfor %}
        </ul>
        </div>

   
                